* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;

  margin: 0;
  padding: 20px;
}

code {
  font-family: 'Courier New', monospace;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  outline: none;

  border: 1px solid #212121;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

input {
  outline: none;
}
